<div class = 'citiesContainer'>
    <h4 class='title'>{{title}}</h4>
    <div class='cities'>
        <div class='formContainer'>
            <button *ngIf="!isAddForm" (click) = "showAddForm()">
                Add city
            </button>
            <add-city-form *ngIf="isAddForm" (cityAdd)="addCity($event)" (formCancel)="hideAddForm()">
            </add-city-form>
        </div>

        <div class='line'></div>
        <div
            *ngFor = "let i = index; let city of cities | searchfilter: 'country_id' : countryId"
            >
            <edit-city-form *ngIf="editingCityId === city.id" (cityEdit)="editCity($event)" (formCancel)="hideEditForm($event)" [city]="city">
            </edit-city-form>
            <div *ngIf="editingCityId !== city.id">
                <div class='city'>
                    {{city.title}}
                </div>
                <button class='buttonEdit' (click) = "showEditForm(city.id)">
                    Edit
                </button>
                <button (click) = "deleteCity(city.id)" class='buttonDelete'>
                    Delete
                </button>
            </div>

            <div *ngIf="!(city.last)" class='line'></div>
        </div>
    </div>
</div>