.citiesContainer {
    flex: 1;
    margin-left: 30px;
}

.cities {
    background-color: #EFF4F7;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    border: #D4DADD;
    border-style: solid;
    border-width: thin;
}

.buttonDelete, .buttonEdit {
    cursor: pointer;
}

.city {
    margin: 10px;
}

.formContainer {
    padding: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #D4DADD;
}

.title {
    text-align: center;
    font-size: larger;
    color: black;
    margin: 10px;
}