.citiesContainer {
    flex: 1;
    margin-left: 30px;
}

.cities {
    background-color: #EFF4F7;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    border: #D4DADD;
    border-style: solid;
    border-width: thin;
}

.buttonAdd {
    color: white;
    background-color: #2469B2;
    cursor: pointer;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: #D4DADD;
    border-style: solid;
    border-width: thin;
}

.buttonDelete, .buttonEdit {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    padding: 20px;
    margin-right: 5px;
}

.buttonDelete {
    background: url(../../assets/delete-icon.png) no-repeat center;
}

.buttonEdit {
    background: url(../../assets/edit-icon.png) no-repeat center;
}

.formContainer {
    padding: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #D4DADD;
}

.title {
    text-align: center;
    font-size: larger;
    color: black;
    margin: 10px;
}

.cityContainer {
    display: flex;
    flex-direction: row;
}

.cityInfo {
    flex: 10;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 110px;
}

.cityTitle {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
}

.cityDesc {
    word-wrap: break-word;
}