.header {
    width: 100%;
    background-color: #2469B2;
}

.title {
    font-size: x-large;
    color: white;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.countries, .cities {
    display: flex;
}

.cities {
    flex: 3;
}

.countries {
    flex: 1;
}