<!--The content below is only a placeholder and can be replaced.-->
<div class='header'>
    <p class='title'>Countries of the world</p>
</div>
<div class='container'>
    <countries
        [countries]="countries"
        [countryId]="countryId"
        (countryIdChange)="countryId=$event"
        class = 'countries'
    >
    </countries>
    <cities
        [cities]="cities"
        [countryId]="countryId"
        (citiesChange)="cities=$event"
        class = 'cities'
    >
    </cities>
</div>