.header {
    width: 100%;
    background-color: #2469B2;
}

.title {
    color: white;
    margin: 15px;
}

.countries {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.country {
    margin: 10px;
    cursor: pointer;
}